<h2 class="LI"> Log in</h2>
<section class="O">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
  <div class="field">
    <div class="large-10">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
</div>

  <div class="field">
    <div class="large-10">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
    </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
     <div class="large-10">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
</div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", :class => 'button small'%>
  </div>
<% end %>

<%= render "writers/shared/links" %>
</section>