<h2 class="SU">Sign up</h2>

<section class="O">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <div class="large-10">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
</div>

  <div class="field">
    <div class="large-10">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
</div>

  <div class="field">
    <div class="large-10">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
</div>

  <div class="actions">
    <%= f.submit "Sign up", :class => 'button small' %>
  </div>
<% end %>

<%= render "publishers/shared/links" %>
</section>