// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.LA, .NA, .E , .SU, LI, .FP {
    font-size: 20px;
    text-align: center;
    color: #FFF;
    font-family: verdana, arial, helvetica, sans-serif; 
    background-color:#000;
  
}

.TB{
    width: 55%;
    margin: auto;
}

.CA{
    font-size: 20px;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif; 
}
img {
    height: 63px;
    width: 181px;
}



  
.top-b{
    background-color:#FFF;
   
   
}
.menu-text{
     background-color:#000;
    color:#FFF;
}

.tablas{
    box-sizing: padding-box;
}

.O {
    width: 26%;
    left: 36%;
    margin: auto;
}